<% flat = data.flats[owner] %>

<div class="flat-banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= flat.img_path %>);">
  <div class="banner-content">
    <h1><%= flat.name %></h1>
    <p><%= flat.description %></p>
    <%= image_tag "https://kitt.lewagon.com/placeholder/users/#{owner}", class: "img-circle" %>
    <a class="btn btn-primary btn-lg">Welcome!</a>
    <p>My ratings = number of coffee</p>
  </div>
</div>

<div class="ratings">
<% flat.rating.times do |star| %>
  <i class="fa fa-coffee"></i>
<% end %>
</div>



