---
title: Le Wagon - Middleman
---

<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://dwj199mwkel52.cloudfront.net/assets/banners/banner-home-e8219102712eef730f69030f694a3a6f26082799a6384be7dbd0715ba1566c3e.jpg');">
  <div class="banner-content">
    <h1>Changer de vie</h1>
    <p>Apprenez à coder</p>
    <a class="btn btn-primary btn-lg">C'est parti!</a>
  </div>
</div>

<div class="container">
  <h1>Où hacker</h1>
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
        <div class="card-category">Popular</div>
        <div class="card-description">
          <h2>Le Wagon Shanghai</h2>
          <p>Very chinese city, the best</p>
        </div>
          <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
          <a class="card-link" href="#" ></a>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4">
       <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://res.cloudinary.com/wagon/image/upload/c_fill,w_1140/v1486638013/bvpm5heyfyuboiwr1yyu.jpg');">
        <div class="card-category">Popular</div>
        <div class="card-description">
          <h2>Le Wagon Berlin</h2>
          <p>Very german city, the best</p>
        </div>
          <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
          <a class="card-link" href="#" ></a>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://res.cloudinary.com/wagon/image/upload/c_fill,w_1140/v1486638002/sfl1c9nqlfhbxkdspchx.jpg');">
        <div class="card-category">Popular</div>
        <div class="card-description">
          <h2>Le Wagon Lyon</h2>
          <p>Very Gauled city, the best</p>
        </div>
          <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
          <a class="card-link" href="#" ></a>
        </div>
    </div>
  </div>
</div>

