---
title: Le Wagon - Middleman - About
---

<div id="about">
  <div class="about-content">
    <h1>This template was built with <i class="fa fa-heart"></i></h1>
    <h1>By the team Marco Polo</h1>
    <ul class="list-inline">
        <li>
          <%= image_tag "https://kitt.lewagon.com/placeholder/users/marcothiry", class: "img-circle" %>
          <h2> Marco </h2>
          <p>
            <i class="fa fa-github"></i>
            <%= link_to "marcothiry", "https://github.com/marcothiry" %>
          </p>
        </li>
        <li>
          <%= image_tag "https://kitt.lewagon.com/placeholder/users/polo2", class: "img-circle" %>
          <h2> Polo </h2>
          <p>
            <i class="fa fa-github"></i>
            <%= link_to "Polo2", "https://github.com/polo2" %>
          </p>
        </li>
    </ul>
  </div>
</div>
